@import url('https://fonts.googleapis.com/css2?family=Anton&family=Special+Gothic+Expanded+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #000000;
    color: #FFF0DC;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.principal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px; 
    flex-wrap: wrap;
    gap: 40px;
}

.apresentacao {
    flex: 1;
    max-width: 600px;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}


.titulo_pagina {
    font-family: "Anton", sans-serif;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    padding: 32px 0;
}

.destaque_titulo {
    color: #852fc3;
}

.botoes {
    padding: 32px 0;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.botao {
    background-color: #852fc3;
    width: 200px;
    text-align: center;
    font-size: 18px;
    padding: 15px;
    border-radius: 13px;
    color: #FFF0DC;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.botao:hover {
    background-color: #039623;
    transition: 0.7s;
}

.imagem {
    flex: 1;
    max-width: 370px;
    width: 50%;
    height: auto;
    border-radius: 30px;
    box-shadow: 10px 0px 15px rgba(1, 69, 27, 0.468);
}
